
@{
    ViewData["Title"] = "ShowSales";
}


<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="~/lib/moment-with-locales.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


<div style="width:100%;height:100%;">
    <div style="width:100%;height:80px">
        <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
            <ul class="navbar-nav">
                &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item active">
                    <a class="nav-link" href="#" onclick="Show()">全部</a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="Show(2)">待审核</a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="Show(3)">待收货</a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link " href="#" onclick="Show(4)">待退款</a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link " href="#" onclick="Show(5)">待到账</a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link " href="#" onclick="Show(1)">已完成</a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link " href="#" onclick="Show(6)">拒绝退货</a>
                </li>
            </ul>
        </nav>
    </div>

    <div style="width:100%;height:150px" id="date">

        <div class="row" style="margin-right: 260px;margin-left: 34px;">
            <div>
                <span>换货单号</span>&nbsp;<input type="text" placeholder="换货单号" id="exdingnum" />&nbsp;&nbsp;
                <span>快递单号</span>&nbsp;<input type="text" placeholder="快递单号" id="willnum" />&nbsp;&nbsp;
                <span>退货人手机</span>&nbsp;<input type="text" placeholder="退货人手机" id="addtels" />&nbsp;&nbsp;
                <span>退货人昵称</span>&nbsp;<input type="text" placeholder="退货人昵称" id="addsname" />&nbsp;&nbsp;
            </div>
         
        </div>
    <br />
   
        <span>申请时间</span>&nbsp;

 
        <div class='col-sm-2'>
            <div class="form-group">
                <!--指定 date标记-->
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" id="date1" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-2'>
            <div class="form-group">
                <!--指定 date标记-->
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" id="date2" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div style="margin-left:20px">
            </div>
        </div>

        <span>快递公司</span>&nbsp;
        <select id="Select5">
            <option value="">请选择快递公司</option>
            <option value="顺丰">顺丰</option>
            <option value="中通">中通</option>
            <option value="园通">园通</option>
            <option value="申通">申通</option>
            <option value="汇通">汇通</option>
            <option value="韵达">韵达</option>
            <option value="邮政">邮政</option>
        </select>
        <span>换货原因</span>&nbsp;&nbsp;<select id="exchange"><option value="">请选择退货原因</option></select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-info" onclick="Show()" type="button">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg>搜索
        </button>
    </div>
    <input id="Hidden1" value="1" type="hidden" /><input id="Hidden2" value="" type="hidden" />
    <div style="width:100%;height:80%">
        <svg class="bi bi-list-ul" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
        </svg>
        <span>数据列表</span>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-info " onclick="DelAll()">
            <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
            <span>删除</span>
        </button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-info">

            <span>批量收货</span>
        </button>&nbsp;&nbsp;&nbsp;
   
        <button type="button" class="btn btn-info">

            <span>批量退款</span>
        </button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-info">

            <span>导出列表</span>
        </button>&nbsp;&nbsp;&nbsp;

        <table class="table">
            <tr style="background-color: #f2f2f2;">
                <th><input type="checkbox" id="all"></th>
                <th>退货单号</th>
                <th>快递单号</th>
                <th>申请时间</th>
                <th>商品数量</th>
                <th>退款金额（元）</th>
                <th>退货原因</th>
                <th>退货状态</th>
                <th>查看详情</th>

            </tr>
            <tbody id="tb">
            </tbody>

        </table>
        <input type="checkbox" id="alll">全选
        <div style="width:500px;height:200px; margin:0 auto ">
            <input class="btn btn-info dropdown-toggle" id="bu1" type="button" value="上一页" onclick="fist()" />

            <input style="text-align:center" id="bu1" class="btn btn-info dropdown-toggle" type="button" value="下一页" onclick="next()" />
            <select id="fenye1" onclick="Show()">
                <option value="3">3</option>
                <option value="6">6</option>
                <option value="9">9</option>
                <option value="12">12</option>
            </select>
        </div>
    </div>
</div>
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
<script>
    $(function () {
        Show();
        xiala();
        var picker1 = $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),
            //minDate: '2016-7-1'
        });
        var picker2 = $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        //动态设置最小值
        picker1.on('dp.change', function (e) {
            picker2.data('DateTimePicker').minDate(e.date);
        });
        //动态设置最大值
        picker2.on('dp.change', function (e) {
            picker1.data('DateTimePicker').maxDate(e.date);
        });
    })

    function Show(aa) {
        var salesnums = $("#exdingnum").val();
        var expressnums = $("#willnum").val();
        var telnums = $("#addtels").val();
        var salesnames = $("#addsname").val();
        var begintimes = $("#date1").val();
        var overtimes = $("#date2").val();
        var expresss = $("#Select5").val();
      
        var salesexs = $("#exchange").val();
      
        $.ajax({
            url: "http://localhost:2789/api/GetSales",
            data: {
                salesnum: salesnums,
                expressnum: expressnums,
                telnum: telnums,
                salesname: salesnames,
                begintime: begintimes,
                overtime: overtimes,
                express: expresss,
                salesex: salesexs,
                page: $("#Hidden1").val(),
                pageSize: $("#fenye1").val(),
                states:aa
            },
            type: "get",
            dataType: "json",
            success: function (date) {
                $("#Hidden2").val(date.counts);
                $("#tb").empty();
                $.each(date.lists, function (index, item) {
                    var str = '<tr>' +
                        '<td><input id="Checkbox1" type="checkbox"  value=' + item.salesId + ' name="sub" /></td>' +
                        '<td>' + item.salesNumber + '</td>' +
                        '<td>' + item.wayBillNumber + '</td>' +
                        '<td>' + item.salesTime + '</td>' +
                        '<td>' + item.goodsNum + '</td>' +
                        '<td>' + (item.goodsPrice * item.goodsNum) + '</td>' +
                        '<td>' + item.salesExchangeCause+ '</td>' +
                        '<td>' + (item.salesState === 1 ? "已完成" : item.salesState === 2 ? "待审核" : item.salesState === 3 ? "待收货" : item.salesState === 4 ? "待退款" : item.salesState === 5 ? "待到账" : "拒绝退货") + '</td>' +
                        '<td><a href="/Order/DetailsSales?id=' + item.SalesId + '">查看详情</a></td>' +
                        '</tr>'
                    $("#tb").append(str);
                })
            }
        })
    }
    function next() {
        var i = $("#Hidden1").val();//页码
        var j = $("#fenye1").val();//页数
        var count = $("#Hidden2").val();//总数据
        var lin = Number(Math.ceil(count / j));

        if (i < lin) {
            $("#Hidden1").val(Number(Number($("#Hidden1").val()) + 1));
        }

        Show();

    }
    function fist() {
        if ($("#Hidden1").val() == "1") {
            $("#Hidden1").val(1);
        }
        else {
            $("#Hidden1").val(Number(Number($("#Hidden1").val()) - 1));
        }
        Show();
    }
    function DelAll() {

        var arr = new Array();
        $('#tb input:checkbox[name=sub]:checked').each(function (i) {
            arr[i] = $(this).val();
        });
        var vals = arr.join(",");
        console.log(vals);
        $.ajax({
            url: "http://localhost:2789/api/SalesDelAllAsync?ids=" + vals,
            type: "get",
            dataType: "json",
            success: function (d) {
                if (d > 0) {
                    alert("删除成功");
                    window.location.reload();
                }
                else {
                    alert("删除失败");
                }
            }
        });
    }
    function deliver() {

        window.location.href = "/Order/deliver";
    }
    $("#all").on("click", function () {
        $("input[name='sub']").prop('checked', this.checked);
    });
    $("input[name='sub']").on("click", function () {
        var $sub = $("input[name='sub']");
        $("#all").prop("checked", $sub.length == $sub.filter(":checked").length ? true : false);
    })
    $("#alll").on("click", function () {
        $("input[name='sub']").prop('checked', this.checked);
    });
    $("input[name='sub']").on("click", function () {
        var $sub = $("input[name='sub']");
        $("#alll").prop("checked", $sub.length == $sub.filter(":checked").length ? true : false);
    })
    function xiala() {
        $.ajax({
            url: "http://localhost:2789/api/salaschange",
            type: "get",
            dataType: "json",
            success: function (date) {
                $("#Select1").empty();
                $.each(date, function (index, item) {
                    var str = '<option value="' + item.salesExchangeId + '">' + item.salesExchangeCause+'</option>'
                    $("#exchange").append(str);
                })

            }
        })
        }
</script>