
@{
    ViewData["Title"] = "UptAddress";
}

<h1>编辑地址</h1>
<input type="hidden" id="Aid" value="@ViewBag.id" />
<link href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>

<table>
    <tr>
        <td>地址简称:</td>
        <td><input type="text" class="form-control" id="Abbreviation"></td>
    </tr>
    <tr>
        <td>联系人:</td>
        <td><input type="text" class="form-control" id="Aconsigner"></td>
    </tr>
    <tr>
        <td>手机号</td>
        <td> <input type="text" class="form-control" id="Aphone"></td>
    </tr>
    <tr>
        <td>地址</td>
        <td>
            <select id="s_province" name="s_province"></select>
            <select id="s_city" name="s_city"></select>
            <select id="s_county" name="s_county"></select>
            <script class="resources library" src="~/area.js" type="text/javascript"></script>
            <script type="text/javascript">_init_area();</script>
        </td>
    </tr>
    <tr>
        <td>详情地址</td>
        <td><input type="text" class="form-control" id="Adeltailedaddress"></td>
    </tr>
    <tr>
        <td>设为发货点</td>
        <td><input type="checkbox" id="Adeliverypoint" name="my-checkbox" checked></td>
    </tr>
    <tr>
        <td>设为收货点</td>
        <td><input type="checkbox" id="Areceivingpoint" name="my-checkbox" checked></td>
    </tr>
    <tr>
        <td><input type="button" value="提交" onclick="Upt()" /></td>
        <td></td>
    </tr>
</table>

<script>
    $(function () {
        Fantian();
    })
    $('input[name="my-checkbox"]').bootstrapSwitch({
        "onColor": "success",
        "offColor": "success",
        "onText": true,
        "offText": false
    });
    var Gid = document.getElementById;
    var showArea = function () {
        var province = Gid('s_province').value;
        var city = Gid('s_city').value;
        var county = Gid('s_county').value;
        if (province == city) {
            city = "";
        }
        Gid("txtAddress").value = province + city + county;
    }
    function Fantian() {
        var id = $("#Aid").val();
        $.ajax({
            url: 'http://localhost:2789/api/FandAddressAsync?id=' + id,
            dataType: 'json',
            type: 'post',
            success: function (d) {
                for (var i = 0; i < d.length; i++) {
                    $("#Aid").val(d[i].Aid);
                    $("#Abbreviation").val(d[i].Abbreviation);
                    $("#Aconsigner").val(d[i].Aconsigner);
                    $("#Aphone").val(d[i].Aphone);
                    $("#Abbreviation").val(d[i].Abbreviation);
                    $("#Adeltailedaddress").val(d[i].Adeltailedaddress);
                    $("#Adeliverypoint").val(d[i].Adeliverypoint);
                    $("#Areceivingpoint").val(d[i].Areceivingpoint);
                }
            }
        })
    }
    function Upt() {
        if ($("input[type='my-checkbox']").is(':checked') == true) {
            var a = {
                "Abbreviation": $("#Abbreviation").val(),
                "Aconsigner": $("#Aconsigner").val(),
                "Aphone": $("#Aphone").val(),
                "Address": $("#s_province").val() + $("#s_city").val() + $("#s_county").val(),
                "Adeltailedaddress": $("#Adeltailedaddress").val(),
                "Adeliverypoint": true,
                "Areceivingpoint": true
            };

        } else {
            var a = {
                "Abbreviation": $("#Abbreviation").val(),
                "Aconsigner": $("#Aconsigner").val(),
                "Aphone": $("#Aphone").val(),
                "Address": $("#s_province").val() + $("#s_city").val() + $("#s_county").val(),
                "Adeltailedaddress": $("#Adeltailedaddress").val(),
                "Adeliverypoint": false,
                "Areceivingpoint": false
            };
        }
        var josn = JSON.stringify(a);
        $.ajax({
            url: 'http://localhost:2789/api/AddAddressAsync',
            data: josn,
            type: 'post',
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                if (data > 0) {
                    alert("修改成功");
                    location.href = '/Logistics/Index';
                }
                else {
                    alert("修改失败");
                }
            }
        })
    }
</script>
