
@{
    ViewData["Title"] = "ShowActivities";
}
<h2>限时购列表</h2>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />

    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
    <div class="demoTable">
        <div style="background-color:aliceblue;margin-bottom:15px">

            <div class="layui-inline">
                <form class="layui-form" action="">
                    <label class="layui-form-label" style="width:120px">当前状态</label>

                    <div class="layui-input-inline">

                        <select name="modules" lay-search="" id="quiz1" lay-verify="required">
                            <option value="">请选择当前状态</option>
                            <option value="启用">启用</option>
                            <option value="禁用">禁用</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="layui-form-item" style="width:320px;float:left">
                <label class="layui-form-label" style="width:100px">活动名称</label>
                <div class="layui-input-block">
                    <input id="name" name="title" class="layui-input" type="text" placeholder="活动名称" autocomplete="off" lay-verify="title">
                </div>
            </div>

           

            &nbsp;&nbsp;&nbsp;&nbsp;
            <button id="btnCha" class="layui-btn layui-btn-sm layui-btn-normal" data-type="btnCha" type="button"> <i class="layui-icon layui-icon-search"></i> 查询</button>
        </div>

            <div style="background-color:aliceblue">
                <i class="layui-icon layui-icon-spread-left" style="font-size:25px;color:black">数据列表</i>&nbsp;&nbsp;
                <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="DelShan" type="button"><i class="layui-icon"></i> 删除</button>



                <table class="layui-hide" id="test" lay-filter="test"></table>
            </div>
        </div>
    <script type="text/html" id="barDome">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs" onclick="location.href='/Activity/ShowProduct'" >编辑商品</a>
    </script>

    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

    <script src="~/layui-v2.5.6/layui/layui.js"></script>
    <script src="~/新建文件夹/js/jquery.min.js"></script>
    <script>



        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#test'
                , url: 'http://localhost:2789/api/GetShowActivity'
                , title: '限时购列表'
                , method: 'get'
                , id: 'testReload'
                , cols: [[
                    { type: 'checkbox' }
                    , { field: 'Number', width: 170, title: '序号' }
                    , { field: 'Name', width: 130, title: '活动名称', sort: true }
                    , { field: 'Uptime', width: 170, title: '上架时间' }
                    , { field: 'DownTime', width: 170, title: '下架时间', sort: true }
                    , { field: 'Count', width: 170, title: '商品数量', sort: true }
                    , { field: 'State', width: 170, title: '当前状态', sort: true }
                    , { field: 'wealth', width: 300, title: '操作', toolbar: '#barDome' }
                ]]
                , page: true
                , limit: 10
                , limits: [10, 20]
                , Id: "testReload"
            });

            table.on('tool(test)', function (obj) {

                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr;

                if (layEvent == 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });

                }
                else if (layEvent === 'edit') {
                    var data = obj.data.Id;
              
                    location.href = "/Activity/EditActivities?Id=" + data;               
                }

            });



            var $ = layui.$, active = {
                DelShan: function () {
                    if (confirm('确定删除')) {
                        var ids = [];
                        var checkStatus = table.checkStatus('testReload')
                            ,
                            data = checkStatus.data;

                        for (var i = 0; i < data.length; i++) {
                            ids += ',' + data[i].Id;
                        }
                        ids = ids.substr(1);
                        alert(ids);
                        $.ajax({
                            url: "http://localhost:2789/api/DelAllActivities",
                            type: "post",
                            data: { ids: ids },
                            success: function (d) {
                                if (d > 0) {
                                    parent.layer.msg("删除成功！");
                                    window.location.href = "ShowActivities";
                                }
                            }
                        })
                    }

                }
                , btnCha: function () {
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            States: $("#quiz1").val(),
                            ActionName: $("#name").val()

                        }
                    }, 'data');
                }
      
            };
            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });



    </script>

</body>
</html>


