
@{
    ViewData["Title"] = "CommEvaluate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>

    <div style="width:100%;height:39px;margin-left: 170px;margin-top:50px" id="date">

        <div class="row" style="margin-right: 151px;margin-left: 0px;">
            <div>
                <span>商品分类</span>&nbsp;
                <select id="Select1" class="btn btn-light" onclick="Show1()">
                    <option></option>
                </select>

                <select id="Select2" class="btn btn-light" onclick="Show2()">
                    <option></option>
                </select>

                <select id="Select3" class="btn btn-light">
                    <option></option>
                </select>


                <br />
            </div>

            <span style="margin-left:2px">创建时间</span>&nbsp;


            <div class="row" style="margin-left:-8px;margin-top:-27px">

                <div class='col-sm-6'>

                    <div class="form-group">

                        <label>选择开始时间：</label>

                        <!--指定 date标记-->

                        <div class='input-group date' id='datetimepicker1'>

                            <input type='text' id="c1" class="form-control" />

                            <span class="input-group-addon">

                                <span class="glyphicon glyphicon-calendar"></span>

                            </span>

                        </div>

                    </div>

                </div>

                <div class='col-sm-6'>

                    <div class="form-group">

                        <label>选择结束时间：</label>

                        <!--指定 date标记-->

                        <div class='input-group date' id='datetimepicker2'>

                            <input type='text' id="c2" class="form-control" />

                            <span class="input-group-addon">

                                <span class="glyphicon glyphicon-calendar"></span>

                            </span>

                        </div>

                    </div>

                </div>

            </div>

            <span style="margin-left: 13px; margin-top: 7px;">评价等级</span>&nbsp;
            <select style="width: 92px; height: 34px;" id="Ping">
                <option value="">请选择</option>
                <option value="★">★</option>
                <option value="★★">★★</option>
                <option value="★★★">★★★</option>
                <option value="★★★★">★★★★</option>
                <option value="★★★★★">★★★★★</option>
            </select>
            <br />
           
        </div>
        <div>
            <span>商品状态</span>
            <select class="btn btn-light" id="Statet">
                <option value="">请选择</option>
                <option value="0">隐藏</option>
                <option value="1">显示</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>商品名称</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="tetName" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>用户昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="tetUser" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>手机号</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="tetTphon" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <input type="button" style="margin-left:42px;height:36px" class="btn btn-info" value="查询" onclick="Show()" /> <input type="button" style="margin-left:31px;height:36px" class="btn btn-info" value="重置" />
            <input type="button" style="margin-left:42px;height:36px" class="btn btn-info" value="删除" onclick="delAll()" />
        </div>

    </div>
    <div style="width: 1351px; height: 332px; margin-left: 170px;margin-top: 50px;">
        
        <table class="table table-hover">
            <tr>
                <th>
                    <input type="checkbox" value="" id="ck" />
                </th>
                <th>
                    序号
                </th>
                <th>
                    商品信息
                </th>
                <th>
                    五星评价
                </th>
                <th>
                    评价内容
                </th>
                <th>
                    评论时间
                </th>
                <th>
                    用户信息
                </th>
                <th>
                    当前状态
                </th>
                <th>
                    操作
                </th>
                
            </tr>
            <tbody id="tb"></tbody>
        </table>
    </div>
    <div style="margin-left: 545px; ">
        <input id="Hidden1" value="1" type="hidden" /><input id="Hidden2" value="" type="hidden" />
        <input class="" id="bu1" type="button" value="上一页" onclick="fist()" />
        <input style="margin-left:281px" id="bu1" class="" type="button" value="下一页" onclick="next()" />
        <select style="margin-left: 339px; " id="yema" onclick="Show()">
            <option value="3">3</option>
            <option value="10">10</option>
            <option value="100">100</option>
            <option value="2000">2000</option>

        </select>
        <script>
            function next() {
                var i = $("#Hidden1").val();//页码
                var j = $("#Select1").val();//页数
                var count = $("#Hidden2").val();//总数据
                var lin = Number(Math.ceil(count / j));

                if (i < lin) {
                    $("#Hidden1").val(Number(Number($("#Hidden1").val()) + 1));
                }

                Xian();

            }
            function fist() {
                if ($("#Hidden1").val() == "1") {
                    $("#Hidden1").val(1);
                }
                else {
                    $("#Hidden1").val(Number(Number($("#Hidden1").val()) - 1));
                }
                Xian();

            }
        </script>
    </div>
    <input  type="hidden" id="Xh" value="001" />


    <script>
        $(function () {
            Show("");
            Show11();
            $("#ck").click(function () {
                $(".ck").each(function () {

                    $(this).attr("checked", !$(this).attr("checked"))
                })

            })
            var picker1 = $('#datetimepicker1').datetimepicker({

                format: 'YYYY-MM-DD',

                locale: moment.locale('zh-cn'),

                //minDate: '2016-7-1'

            });

            var picker2 = $('#datetimepicker2').datetimepicker({

                format: 'YYYY-MM-DD',

                locale: moment.locale('zh-cn')

            });
            //动态设置最小值
            picker1.on('dp.change', function (e) {
                picker2.data('DateTimePicker').minDate(e.date);

            });
            //动态设置最大值
            picker2.on('dp.change', function (e) {

                picker1.data('DateTimePicker').maxDate(e.date);

            });
            //全选

        })

        // { "brandid": 13, "img": "/Images/201020043952893396.png", "bname": "张春雨", "corporation": "123", "state": true, "creaTime": "2020-10-20T16:40:06" }, { "brandid": 14, "img": "/Images/201020064652534180.jpg", "bname": "123", "corporation": "123", "state": true, "creaTime": "2020-10-20T18:46:59" }]
        function Show() {
            var fenlei = $("#Select3").val();
            var crtime = $("#c1").val();
            var deltime = $("#c1").val();
            var dengji = $("#Ping").val();
            var state = $("#Statet").val();
            var scname = $("#tetName").val();
            var userinfo = $("#tetUser").val();
            var phone = $("#tetTphon").val();
            $.ajax({
                url: 'http://localhost:2789/api/Remark',
                data: {
                    page: $("#Hidden1").val(),
                    rows: $("#yema").val(),
                    fenlei: fenlei,
                    crtime: crtime,
                    deltime: deltime,
                    dengji: dengji,
                    stars: state,
                    scname: scname,
                    userinfo: userinfo,
                    phone: phone
                },
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#Hidden2").val(d.count);
                    $('#tb').empty();
                    $.each(d.list, function (index, item) {
                        var line = '<tr>'
                            + '<td><input class="ck" type="checkbox"   value="' + item.commodityId + '" /></td>'
                            + '<td>' + $("#Xh").val() + '</td>'
                            + '<td><img id="imgas" style="width:40px;height:40px" src="http://localhost:2789' + item.img + '" alt="" />' + item.sCname + '<br/>规格 ' + item.introduce + '</td>'
                            + '<td> <span style="color:#F00" >' + item.stars + '</span></td>'
                            + '<td>' + item.content + '</td>'
                            + '<td>' + item.creatime + '</td>'
                            + '<td>' + item.buyerInfoName + '<br/>' + item.buyerInfoTel + '</td>'
                            + '<td>' + (item.state == 1 ? "显示" : "隐藏") + '  </td>'
                            + '<td><a href="#" onclick = "del('+ item.evaluateid +')"><p>删除</p></td>'
                            + '</tr>'
                        Jia();
                        $('#tb').append(line);
                    })
                }
            })
        }
        function Jia() {
            $("#Xh").val("00"+Number(Number($("#Xh").val()) + 1));
        }
        function Show11() {
            $.ajax({
                url: 'http://localhost:2789/api/Claf',
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#Select1").empty();
                    $('#Select1').append('<option value="">请选择</option>');
                    $(d).each(function () {
                        var lin = '<option value="' + this.classifyId + '">' + this.cname + '</option>'
                        $('#Select1').append(lin);
                    })
                }
            })
        }
        //加载二级联动
        function Show1() {
            $.ajax({
                url: 'http://localhost:2789/api/GetClaf',
                type: 'get',
                data: { ids: $('#Select1').val() },
                dataType: 'json',
                success: function (d) {
                    $("#Select2").empty();
                    $('#Select2').append('<option value="">请选择</option>');
                    $(d).each(function () {
                        var lin = '<option value="' + this.classifyId + '">' + this.cname + '</option>'
                        $('#Select2').append(lin);
                    })
                }
            })
        }
        //加载三级联动
        function Show2() {
            $.ajax({
                url: 'http://localhost:2789/api/GetClaf',
                type: 'get',
                data: { ids: $('#Select2').val() },
                dataType: 'json',
                success: function (d) {
                    $("#Select3").empty();
                    $('#Select3').append('<option value="">请选择</option>');
                    $(d).each(function () {
                        var lin = '<option value="' + this.classifyId + '">' + this.cname + '</option>'
                        $('#Select3').append(lin);
                    })
                }
            })
        }
        function del(ids) {
            $.ajax({
                url: 'http://localhost:2789/api/DelPing',
                data: { ids: ids },
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        alert('删除成功!')
                        Show("");
                    }
                    else {
                        alert('删除失败!')
                    }
                }
            })
        }
        function delAll() {
            var id = "";
            //for (var i = 0; i < $(".ck").length; i++) {
            //    if ($(".ck").eq(i).attr("checked") == "checked") {
            //        id += $(".ck").eq(i).val() + ","
            //    }
            //}
            $('input[Class="ck"]:checked').each(function () {

                id += $(this).val() + ',';

                //Ids += ',';
            });
            if (id == "") {
                alert("请选择删除项")
                return false;

            }
            else {
                if (!confirm("是否删除选择项")) return true;
            }
            id = id.substring(0, id.length - 1);
            //alert(id);
            del(id);
        }

    </script>
</body>
</html>

